<launch>
  <arg name="mav_name" default="pegasus"/>
  <arg name="frame_id" default="odom_a" />
  <arg name="verbose" default="true"/>
  <arg name="pointcloud_topic" default="dense_stereo/pointcloud"/>
  <arg name="voxel_size" default="0.2" />  <!-- default value in examples: 0.2 -->

	<node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 cam_a cam0 100" />
	<node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="0 0 0 0 0 0 world odom_a 100" />

  <group ns="$(arg mav_name)">
    <node name="voxblox_node" pkg="voxblox_ros" type="esdf_server" output="screen" args="-alsologtostderr" clear_params="true">
      <remap from="pointcloud" to="$(arg pointcloud_topic)"/>
      <remap from="voxblox_node/esdf_map_out" to="esdf_map" />
      <remap from="voxblox_node/tsdf_map_out" to="tsdf_map" />

      <param name="update_esdf_every_n_sec" value="0.25" />
      <param name="publish_map_every_n_sec" value="0.25" />
      
      <param name="method" value="fast" />
      <param name="publish_tsdf_map" value="true" />
      <param name="publish_esdf_map" value="true" />
      <param name="tsdf_voxel_size" value="$(arg voxel_size)" />
      <param name="tsdf_voxels_per_side" value="16" />
      <param name="esdf_max_distance_m" value="3.0" />
      <param name="max_ray_length_m" value="10.0" />
      <param name="voxel_carving_enabled" value="true" />
      <param name="color_mode" value="color" />
      <param name="use_tf_transforms" value="true" /> 			<!-- default value in examples: true -->
      <param name="update_mesh_every_n_sec" value="1.0" />     <!-- default value in examples: 0.25 -->
      <param name="min_time_between_msgs_sec" value="0.10" />  	<!-- default value in examples: 0.10 -->
      <!--param name="clear_sphere_for_planning" value="true" /-->
      <param name="occupied_sphere_radius" value="4.0" />
      <param name="clear_sphere_radius" value="1.0" />
      <param name="slice_level" value="1.0" />
      <param name="world_frame" value="$(arg frame_id)" />
      <param name="verbose" value="$(arg verbose)" />


      <!-- COPIED FROM ueli_voxblox.launch in MAV -->
      <param name="use_const_weight" value="false" />
      <param name="allow_clear" value="true" />
      <remap from="transform" to="vins_estimator/transform" />
      <rosparam file="$(find v4rl_mav_launch)/parameters/common/voxblox_v4rl.yaml"/>

    </node>
  </group>

</launch>
